body{
    background-color: white;
    color: black;
    border-color: rgb(47, 51, 54)
}

.wd-ellipse {
    position: absolute;
    top: 16px;
    right: 8px;
}
.wd-book-head {
    position: relative;
    border-size: 1px;
    border-color: rgb(47, 51, 54);
    border-style: solid;
    height: 64px;
    width: 100%;
}

.wd-post {
    position: relative;
    border-size: 1px;
    border-color: rgb(47, 51, 54);
    border-style: solid;
    height: 720px;
    width: 100%;
}

.wd-poster {
    position: relative;
    top: 12px;
}

.wd-poster-avatar {
    position: relative;
    float: left;
    width: 48px;
    left: 16px;
}
.wd-poster-name {
    position: relative;
    float: left
    font-size: 15px;
    left: 12px;
    color: rgb(47, 51, 54);
}

.wd-post-content {
    position: relative;
    width: 506px;
    font-size: 15px;
    left: 16px;
}

.wd-post-image {
    position: relative;
    width: 504px;
    height: auto;
    top: 12px;
    left: 12px;
    border-radius: 25px;
    border-color: rgb(47, 51, 54);
    border: 1px solid;
    padding: 12px;
}

.wd-interact {
    position: relative;
    color: rgb(47, 51, 54);
    text-align: center;
    width: 504px;
}
.wd-interact div {
    display: inline-block;
    vertical-align: top;
    margin: 2%;
    padding:25px;
    text-align: center;
}

.wd-alignment-interact {
    float: left;
}

.wd-alignment-done {
    position: relative;
    clear: both;
}

.wd-book-heading {
    position: absolute;
    top: 12px;
    left: 16px;
    font-size:20px;
    color: white;
}

.wd-book-user {
    position: absolute;
    top: 32px;
    left: 16px;
    color: rgb(128,128,128);
    font-size:13px;
}
