body{
    background-color: black;
    color: white;
    border-color: rgb(47, 51, 54)
}

.wd-ellipse {
    position: absolute;
    top: 8px;
    right: 8px;
}
.wd-book-head {
    position: relative;
    border-size: 1px;
    border-color: rgb(211,211,211);
    border-style: solid;
    height: 52px;
    width: 100%;
}
.wd-book-heading {
    position: relative;
    top:0px;
    left:16px;

}
.wd-book-user {
    position: absolute;
    top: 24px;
    left: 16px;
    font-color:rgb(211,211,211);
    font-size:13px;
}
