body{
    background-color: black;
    color: white;
    border-color: rgb(47, 51, 54)
}

.wd-ellipse {
    position: absolute;
    top: 16px;
    right: 8px;
}
.wd-book-head {
    position: relative;
    border-size: 1px;
    border-color: rgb(47, 51, 54);
    border-style: solid;
    height: 64px;
    width: 100%;
}

.wd-post {
    position: relative;
    border-size: 1px;
    border-color: rgb(47, 51, 54);
    border-style: solid;
    height: 500px;
    width: 100%;
}

.wd-poster {
    position: relative;
    top: 12px;
}

.wd-poster-avatar {
    position: relative;
    float: left;
    width: 48px;
    left: 16px;
}
.wd-poster-name {
    position: relative;
    float: left
    font-size: 15px;
    left: 12px;
    color: rgb(47, 51, 54);
}

.wd-post-content {
    position: relative;
    width: 504px;
    height: 264px;
}

.wd-post-image {

}

.wd-book-heading {
    position: absolute;
    top: 12px;
    left: 16px;
    font-size:20px;
    color: white;
}
.wd-book-user {
    position: absolute;
    top: 32px;
    left: 16px;
    color: rgb(128,128,128);
    font-size:13px;
}
