body{
    background-color: black;
    color: white;
    border-color: rgb(47, 51, 54)
}
.wd-offset {
    margin-left: 16px;
}
.wd-search-section {
    position: relative;
    width: auto;
}

.wd-div-search-tabs {
    position: relative
    width: auto;
}

.wd-tabs {
    position: relative
    width: auto;
}

.wd-search{
    border-radius: 25px;
    background-color: rgb(36,36,36);
    color: gray;
    position: absolute;
    padding-left: 28px;
    right: 41px;
    left: 16px;
    width: auto;
}
.wd-magnify{
    position: absolute;
    left: 25px;
}
.wd-gear {
    position: relative;
    left: 8px;
}
.wd-tab-alignment {
    float: left;
}
.wb-tab-highlighted {
    text-align: center;
    color: rgb(29,161,242);
    border-bottom: 4px solid;
    border-bottom-color: rgb(29,161,242);
    width: 16%;
    height: 25px;
}

.wd-tab-unhighlighted {
    position: relative;
    text-align: center;
    color: rgb(36,36,36);
    width: 16%;
    height: 25px;
}
.wb-alignment-done {
    position: relative;
    clear: both;
}