body{
    background-color: black;
    color: white;
    border-color: rgb(47, 51, 54)
}
.wd-offset {
    margin-left: 16px;
}
.wd-search-section {
    position: relative;
    width: auto;
    height: 24px;
}

.wd-div-search-tabs {
    position: relative
    width: auto;
}

.wd-posts {
    position: relative
    width: auto;
}
.wd-trending {
    color: rgb(110, 118, 125);
    border: 5px;
    width: auto;
    height: 105px;
    font-size: 13px;
}

.wd-suggested-photo {
    height: 100px;
    width: 100px;
    border-radius: 25px;
    position: absolute;
    right: 16px;
}

.wd-ellipse {
    float: right
    text-align: right;
}

.wd-icon {
    height: 8px;
}


.wd-tabs {
    position: relative;
    text-align: justify;
    width: auto;
}


.wd-search{
    border-radius: 25px;
    background-color: rgb(36,36,36);
    color: gray;
    position: absolute;
    padding-left: 28px;
    right: 41px;
    left: 16px;
    width: auto;
}
.wd-magnify{
    position: absolute;
    left: 25px;
}
.wd-gear {
    position: absolute;
    right: 8px;
}
.wd-tab-alignment {
    float: left;
}
.wd-tab-highlighted {
    text-align: center;
    color: rgb(29,161,242);
    border-bottom: 4px solid;
    border-bottom-color: rgb(29,161,242);
    height: 25px;
    padding: 16px;
    font-size: 15px;
}

.wd-tab-unhighlighted {
    text-align: center;
    color: rgb(110,118,125);
    height: 25px;
    padding: 16px;
    font-size: 15px;
}

.wd-alignment-done {
    position: relative;
    clear: both;
}